/* ATTENTION : si on modifie ce fichier on doit exécuter "npm run watch" en console ! */

@mixin img-parallaxe {
    height: 70vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 1;
}

footer, #title {
    background-color: #396789;
}

#title, #text-first, #narval1-bis, #narval2-bis{
    display: none;
}

#narval1 {
    background-image: url("/img/narval1.jpg");
    @include img-parallaxe;
}

#narval2 {
    background-image: url("/img/narval2.jpg");
    @include img-parallaxe;
}

.gallery-img-size {
    width: 200px;
    height: 100%;
}

/* media pour les écran de 0 à 576px */
@media screen and (max-width:1174px) {
    #narval1, #narval2 {
        display: none;
    }
    
    #narval1-bis, #narval2-bis {
        display: block;
    }
}